.searchBar {
  align-self: center;
  width: 50%;
}
.searchbutton {
  color: rgb(177, 8, 8);
  /* background-color: var(--bigBlue); */
}
.searchbutton:hover {
  background-color: rgb(177, 8, 8);
  color: var(--page);
  box-shadow: 0px 0px 3px 4px rgb(177, 8, 8);
}
