.photo1 {
  height: 60px;
  width: 50px;
  padding-bottom: 10px;
}

.title {
  color: #130d2e;
  padding-bottom: 2%;
  padding-left: 5%;
}

.paragraph11 {
  padding: 0px 5%;
  color: #130d2e;
  font-size: 24px;
}

.photo10 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.HEALTH-NUTRITION{
  height: 100vh;
}