.big-ramy {
  box-shadow: 0px -3px 8px 0px #c8e6f5;
  width: 100%;
  height: 100vh;
  padding: 5%;
  background-color: white;
}

.title {
  color: #417faf;
  padding-bottom: 2%;
  padding-left: 5%;
}

.paragraph1 {
  padding: 0px 5%;
  color: #5ca0d3;
  font-size: 24px;
}

.imgsize {
  height: 25rem;
  width: 10rem;
  padding: 40px;
}
