.nav {
  background-color: #130d2e;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navBrand {
  color: #f2eee0;
  margin-right: 0%;
  font-size: 40px;
}

.navLink {
  display: flex;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-weight: var(--bs-nav-link-font-weight);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  color: #f2eee0;
  font-size: x-large;
  padding: 10px;
}

.logo {
  height: 2.5%;
  width: 2.5%;
}

.navLink:hover {
  color: #c8e6f5;
}
.navLinkContainer {
  padding-left: 5%;
}
.login {
  color: var(--page);
}
.login:hover {
  background-color: var(--page);
  color: var(--red);
}

.profileImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--smallBlue);
  margin: 0 1%;
}
.profileName {
  color: var(--page);
  padding: 0 1%;
  text-align: center;
  margin-top: 1%;
  font-size: x-large;
}
