.imgsize {
  height: 25rem;
  width: 10rem;
  padding: 40px;
}
.motvation-container {
  /* margin-top: 11px; */
  height: 103vh;
  box-shadow: 0px -3px 8px 0px #c8e6f5;
  width: 100%;
  background-color: #130d2e;
  padding: 5%;
  color: rgb(214, 221, 226);
}
.title1 {
  color: #dee7ee;
  padding-bottom: 1%;
  padding-left: 5%;
}
.paragraph12 {
  padding: 0px 5%;
  color: #c1cbd3;
  font-size: 22px;
}

.photo {
  height: 60px;
  width: 50px;
  padding-bottom: 10px;
}

.p-font {
  font-size: large;
}
.red-word {
  color: rgb(255, 10, 10);
}
