.div-arrow {
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  padding: 1%;
}
.right-arrow,
.left-arrow {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.5, 1.5);
}
.react-horizontal-scrolling-menu--scroll-container {
  display: flex;
  height: max-content;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  gap: 30px;
  padding-left: 5%;
}
.category {
  padding: 15% 0;
  transform: scale(1, 1);

  cursor: pointer;
  /* background-color: var(--page); */
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.category:hover {
  /* transform: scale(1.1, 1.1); */
  background-position: 0 100%;
}

/* .singleCat {
  background-color: white;
  border-top: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: 0 0 0 0;
  height: 15rem;
} */

.category:hover h3 {
  color: #ffffff;
}
