.modal-dialog {
  max-width: 80%;
  max-height: 10%;
}

.modal-header {
  background-color: rgb(177, 8, 8);
  border-bottom: 1px solid #130d2e;
  padding: 1rem;
  font-weight: bold;
}

.modal-title {
  margin: 0;
  font-size: 1.5rem;
}

.modal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 30px;
  padding: 10%;
  background-color: white;

  /* background-image: -webkit-repeating-linear-gradient(
    #250303,
    #417faf,
    transparent
  ); */
}

.modal-body h3 {
  margin-top: 0;
}

.details {
  color: var(--red);
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 1rem;
  background-color: white;
  gap: 15px;
}

.modal-body p {
  margin: 0.5rem 0;
}

.modal-footer .btn-secondary {
  margin-right: 1rem;
}

.modal-footer .btn-primary {
  margin-right: 1rem;
}

.form-group {
  margin-top: 1rem;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.dropdown-label {
  font-weight: bold;
}

.dropdown-select {
  width: 100%;
}

.modal-footer {
  background-color: #f8f9fad3;
  border-top: 1px solid #130d2e;
  padding: 1rem;
  display: flex;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.1;
  /* display: none !important; */
}
