:root {
  --darkbluecolor: #051923;
  --darkblue2color: #003554;
  --darkblue3color: #006494;
  --lightbluecolor: #0582ca;
  --lightblue1color: #00a6fb;
}

.app {
  background-color: #c9c6c5;
  margin: 0;
  padding: 0;
  font-family: "Edu NSW ACT Foundation", cursive;
}
p {
  font-size: larger;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f2eee0;
}

::-webkit-scrollbar-thumb {
  background: #777474;
}
