:root {
  --red: #250303;
  --page: #f2eee0;
  --neon: #c8e6f5;
  --bigBlue: #417faf;
  --smallBlue: #5ca0d3;
}
html {
  scroll-behavior: smooth;
}

.app {
  background-color: #c9c6c5;
  margin: 0;
  padding: 0;
  font-family: "Edu NSW ACT Foundation", Impact;
  /* font-family:  math ; */
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f2eee0;
}

::-webkit-scrollbar-thumb {
  background: #c8e6f5;
}
