body {
  margin: 0;
  padding: 0;
  background: #F2EEE0;
  font-family: math;


}

::-webkit-scrollbar {
  width: 15px;

}

::-webkit-scrollbar-track {
  background: #F2EEE0;
}

::-webkit-scrollbar-thumb {
  background:#3e0505;
} 