#STH {
  color: #130d2e;
  padding-left: 7%;
  padding-bottom: 1%;
}

.contanier5 {
  width: 100vw;
  max-height: 75vh;
}
.image-size {
  object-fit: cover;
  max-height: 85vh;
}

.overlay2 {
  position: absolute;
  z-index: 1;
  top: 1044px;
  width: 100vw;
  height: 85vh;
  background-color: #130d2e;
  opacity: 0.5;
}
